---
layout: boilerplate.njk
css: index
---
<header class="cover-image">

</header>
<main class="profile">
	<img
	  src="https://static.goblinoid.co.uk/jeff-horton.uk/profile-art.png"
	  alt="Profile picture of a stupid little fat Jeff on a hike, drinking from a tankard with a
	  mountain in the background."
	  title= "Artist credit: Illustrated Jai, https://illustratedjai.com/"
	  class="avatar"
	/>
	<h1>Jeff Horton <small>(He/Him)</small></h1>
	<p class="lead">
		Web developer, LARPer, board gamer, geek with a love of mountains.
		<br>
		<!--suppress HtmlUnknownTarget -->
		<a href="/curriculum-vitae">Read my CV...</a>
	</p>
	{% include './_includes/contact-details.njk' %}
</main>
<section>

</section>
