---
layout: boilerplate.njk
css: index
---
<header class="cover-image">

</header>
<main class="profile">
	<img src="https://static.goblinoid.co.uk/jeff-horton.uk/profile.jpg" alt="Profile Picture"
	     title="A photo headshot of Jeff Horton with the asexual pride flag in the background"
	     class="avatar"/>
	<h1>Jeff Horton <small>(He/Him)</small></h1>
	<p class="lead">
		Web developer, LARPer, board gamer, geek with a love of mountains.
		<br>
		<!--suppress HtmlUnknownTarget -->
		<a href="/curriculum-vitae">Read my CV...</a>
	</p>
	{% include './_includes/contact-details.njk' %}
</main>
