---
layout: layout.njk
coverImage: https://static.goblinoid.co.uk/jeff-horton.uk/40K-Cover.jpg
coverImageCss: "background-position-y: 15%"
header: Hive Fleet Morphallaxis <br><small>A Warhammer 40k Crusade force</small>
title: Hive Fleet Morphallaxis - A Warhammer 40k Crusade force
tags:
  - wargaming
breadcrumbs:
  - label: 'Home'
    url: '/'
  - label: 'Wargaming'
    url: '/wargaming'
  - label: 'Hive Fleet Morphallaxis'
---
<h2>Resources</h2>
<dl class="summary-list">
	<dt>Battle tally:</dt>
	<dd>
		{{  collections.battle | length }}
		(<a href="battles">Log</a>)
	</dd>

	<dt>Battles won:</dt>
	<dd>0</dd>

	<dt>Requisition Points:</dt>
	<dd>
		1
		(<a href="requisition-log">Log</a>)
	</dd>

	<dt>Supply Limit:</dt>
	<dd>1100</dd>

	<dt>Supply Used:</dt>
	<dd>
		{% set pointsTotal = 0 %}
		{% for unit in collections.unit %}
			{% set pointsTotal = pointsTotal + unit.data.points %}
		{% endfor %}
		{{ pointsTotal }}
	</dd>
</dl>
<h2>Target World</h2>
<dl class="summary-list">
	<dt>Name</dt>
	<dd>Idrion IX</dd>

	<dt>Type</dt>
	<dd>Hive World</dd>

	<dt>Biomass Consumed</dt>
	<dd>0</dd>

	<dt>Resistance Crushed</dt>
	<dd>0</dd>
</dl>
<table>
	<thead>
		<tr>
			<th>Stage</th>
			<th>Biomass</th>
			<th>Resistance</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Invasion</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Predation</td>
			<td>8</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Consumption</td>
			<td>14</td>
			<td>16</td>
		</tr>
	</tbody>
</table>
<h2>Units</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Points Value</th>
			<th>Crusade Points</th>
		</tr>
	</thead>
	<tbody>
		{% for unit in (collections.unit | sortUnits) %}
			<tr>
				<td>
					<a href="{{ unit.url }}">{{ unit.data.name }}</a>
				</td>
				<td>
					{{ unit.data.quantity }} {{ unit.data.type -}}
					{{- "s" if (unit.data.quantity | default(1)) != 1 }}
				</td>
				<td>{{ unit.data.points }}</td>
				<td>{{ unit.data.crusadePoints | default(0) }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
