<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if not excludeRootCss -%}
		<link rel="stylesheet" href="{{ '/root.css' | url}}">
	{% endif %}
	{% if css -%}
		{%- set cssPath %}/{{ css }}.css{% endset -%}
	    <link rel="stylesheet" href="{{ cssPath | url}}">
	{%- endif %}
	{% for stylesheet in extraStyles -%}
		<link rel='stylesheet' href='{{ stylesheet }}' />
	{%- endfor %}
	{% for script in extraScripts -%}
		<script src='{{ script }}'></script>
	{%- endfor %}
	<link rel="icon" type="image/png" href="/favicon.png">
	<link href="https://unpkg.com/prismjs@1.27.0/themes/prism-tomorrow.min.css" rel="stylesheet">
	<title>{{ title }}</title>
</head>
<body>
	{{ content | safe }}
</body>
</html>
