@import 'util/util';
.cv-header {
  grid-template-columns: 1fr max-content 12rem;
  grid-gap: 1rem;
  place-items: center;

  display: grid;
  justify-content: space-between;

  .avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
  }

  @include breakpoint(small down) {
    grid-template-columns: auto;

    .avatar {
      order: -1;
    }
  }
}

li {
  margin-bottom: 0.25rem;
}
