@import 'settings';
@import 'foundation-sites/scss/foundation';
@import "./dice";

// Global styles
@include foundation-global-styles;
// @include foundation-forms;
@include foundation-typography;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic components
//@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
//@include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
//@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Menu-based containers
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
//@include foundation-dropdown-menu;

// Layout components
//@include foundation-off-canvas;
//@include foundation-reveal;
//@include foundation-sticky;
//@include foundation-title-bar;
//@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

@each $name, $color in $foundation-palette {
    .text-#{$name} {
        color: $color
    }
}

html, body {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
}

body {
    display: grid;
    place-items: center;
}

body > nav, main {
    width: min(100%, 52rem);
    padding: 0 0.5rem;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

pre {
    max-width: 100%;
    overflow-x: auto;
}

dl dd {
    margin-bottom: 0.25rem;

    &:has(+ dt) {
        margin-bottom: 0.5rem;
    }
}

.header-image {
    aspect-ratio: 4 / 1;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: grid;
    margin-bottom: $global-margin;
    width: 100vw;

    justify-items: stretch;
    align-items: end;

    .title-wrapper {
        background-color: rgba($black, 85%);
        padding: $global-padding;
        display: grid;
    }

    .title-container {
        padding: 0 0.5rem;
        width: min(52rem, 100%);
        justify-self: center;

        h1 {
            margin: 0;
        }
    }
}

/// Styles for contact-details.njk snippet
.contact-detail {
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;

    .provider {
        display: inline-block;
        width: 5rem;
    }
}

.remix-icon {
    display: inline-block;
    width: 24px;

    svg {
        width: 24px;
        height: 24px;
    }
}

.summary-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

@include breakpoint(medium up) {
    .layout-two-thirds {
        display: grid;
        grid-template-columns: minmax(0, 5fr) minmax(0, 2fr);
        grid-gap: 0.5rem;

        > * {
            min-width: 0;
        }
    }
}

blockquote {
    margin: 1rem 0 1rem 0.25rem;

    & > :last-child {
        margin-bottom: 0 !important;
    }
}
