@use "sass:color";
@import "settings";

.move {
    border: thin $secondary-color solid;
    border-radius: 4px;
    padding: 0.5rem;
    position: relative;
    margin: 0.5rem 0;

    &:before {
        content: "Move";
        color: $secondary-color;
        position: absolute;
        font-variant: small-caps;
        top: -0rem;
        right: 0.25rem;
    }

    h2 {
        color: $body-font-color;
    }
}

.asset {
    border: thin map-get($foundation-palette, 'info')  solid;
    border-radius: 4px;
    padding: 0.5rem;
    position: relative;
    margin: 0.5rem 0;

    &:before {
        content: "Asset";
        color: $secondary-color ;
        position: absolute;
        font-variant: small-caps;
        top: -0rem;
        right: 0.25rem;
    }

    h3 {
        color: $body-font-color;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    .type {
        text-transform: uppercase;
        font-size: smaller;
        color: map-get($foundation-palette, 'info') ;
        margin: 0;
        line-height: 1;
    }

    .abilities {
        display: grid;
        grid-template-columns: min-content auto;
        grid-gap: 0.5rem;

        & > svg {
            margin-top: 0.25rem;

            &.filled {
                fill: currentColor;
            }
        }
    }
}

.truth {
    border: thin $primary-color solid;
    border-radius: 4px;
    padding: 0.5rem;
    position: relative;
    margin: 0.5rem 0;

    &:before {
        content: "Truth";
        color: $secondary-color;
        position: absolute;
        font-variant: small-caps;
        top: -0rem;
        right: 0.25rem;
    }

    :last-child {
        margin-bottom: 0 !important;
    }

    .result {
        border-bottom: thin $primary-color solid;
    }

    .follow-up dd {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: thick $secondary-color solid ;
    }
}

.vow {
    border: thin $warning-color solid;
    border-radius: 4px;
    padding: 0.5rem;
    position: relative;
    margin: 0.5rem 0;

    &:before {
        content: "Vow";
        color: $secondary-color;
        position: absolute;
        font-variant: small-caps;
        top: -0rem;
        right: 0.25rem;
    }

    &[data-tags]:before {
        content: attr(data-tags);
    }

    :last-child {
        margin-bottom: 0 !important;
    }

    .character {
        text-transform: uppercase;
        font-size: smaller;
        color: $warning-color ;
        margin: 0;
        line-height: 1;
    }
    .vow-text {
        font-style: italic;
        border-color: color.scale($warning-color, $lightness: -50%);

        position: relative;

        &:before {
            content: "“";
            color: rgba($secondary-color, 60%);
            position: absolute;
            font-size: 225%;
            top: -0.75rem;
            left: 0;
            z-index: -1;
        }
    }
}

.progress-track {
    display: flex;
    gap: 0.25rem;
    margin-block-end: 0.5rem;

    svg {
        width: calc(10% - 0.225rem);
        padding: 0.25rem;
        border: thin $secondary-color solid;
        border-radius: 0.125rem;

        stroke: $body-font-color;
        stroke-width: 0.35rem;
    }
}
