---
layout: 40k-crusade-unit
name: Primary Infiltration Node
type: Broodlord
points: 120
crusadePoints: 1
killTally: 1
meleeTally: 1
xp:
psychicPowers:
  - The Horror
tags:
  - unit
---

alien resilience - regain 1 lost wound in command phase
