---
layout: 40k-crusade-unit
name: Primary Infiltration Node
type: Broodlord
points: 120
crusadePoints: 2
killTally: 2
meleeTally: 2
xp: 6
psychicPowers:
  - The Horror
tags:
  - unit
---

alien resilience - regain 1 lost wound in command phase
warp crest - When successfully manifests a psychic power a unit with in 6" takes a mortal wound
on a 2+
