---
layout: 40k-crusade-unit
name: Primary Warrior Node
type: Tyranid Warrior
quantity: 3
xp: 1
loadout:
  - '1 x Bonesword, Lash whip, Venom cannon'
  - '2 x Bonesword, Lash whip, Deathspitter'
points: 95
crusadePoints: 0
tags:
  - unit
---
