---
layout: 40k-crusade-unit
name: Primary Spawning Node
type: Tervigon
points: 215
crusadePoints: 1
loadout:
  - Massive scything talons
psychicPowers:
  - Onslaught
relics:
  - The Maw-claws of Thyrax
tags:
  - unit
---
