---
layout: layout.njk
coverImage: https://static.goblinoid.co.uk/jeff-horton.uk/40K-Cover.jpg
coverImageCss: "background-position-y: 15%"
header: Hive Fleet Morphallaxis <br><small>A Warhammer 40k Crusade force</small>
title: Hive Fleet Morphallaxis - A Warhammer 40k Crusade force
---
<h2>Units</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		{% for unit in collections.unit %}
			<tr>
				<td>
					<a href="{{ unit.url }}">{{ unit.data.name }}</a>
				</td>
				<td>{{ unit.data.type }}</td>
				<td>{{ unit.data.points }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
