---
layout: 40k-crusade-battle
name:
opponent:
size: Combat Patrol (500)
scenario:
units:
  - Primary Tunneller Node
  - Primary Warrior Node
  - Worker Biomass Vanguard Left
  - Worker Biomass Vanguard Right
  - Aerial Biomass Vanguard Left
  - Primary Spawning Node
  - Worker Biomass Hive Guard
  - Primary Infiltration Node
  - Infiltration Seed Biomass
  - Aerial Infiltration Node
tags:
  - battle
