---
layout: '40k-crusade-battle'
name: Delve Deeper
opponent: Rehep-Sett Arises
size: Combat Patrol (500)
scenario: Supply Drop
outcome: Loss
units:
  - Primary Tunneller Node
  - Worker Biomass Hive Guard
  - Primary Infiltration Node
  - Infiltration Seed Biomass
tags:
  - battle
---

Augmented ferocity


Hunt and slay


10 + 20

Broodlord - 1 hunt and slay

