---
layout: 40k-crusade-battle
name: Explore
opponent: 'Eyes Unshrouded: the True T'au'va'
size: Combat Patrol (500)
scenario: Sweep and Clear
outcome: Draw
units:
  - Primary Tunneller Node
  - Primary Warrior Node
  - Worker Biomass Vanguard Left
  - Worker Biomass Vanguard Right
  - Aerial Infiltration Node
tags:
  - battle
---
Agenda - tyrannoform prey world
10
10
20
20
