---
layout: 40k-crusade-battle
name: First Contact
opponent: Waaagh! Rukbrakka Brug Gutskar Gorka
size: Combat Patrol (500)
scenario: Assassinate
outcome: Win
units:
  - Worker Biomass Vanguard Left
  - Worker Biomass Vanguard Right
  - Aerial Biomass Vanguard Left
  - Primary Infiltration Node
  - Infiltration Seed Biomass
  - Aerial Infiltration Node
tags:
  - battle
---
Orkz Agenda: Cull the hordes
Tyrnaids Agenda: Infest the prey world
10 swarm
10 vp - killed a model
brood lord killed unit
10 vp - killed a model + unit
10 vp - killed model + unit
50 vp - warlord survived
marked for greatness - brood lordmultitudes +1 xp

left worker biomass - 2xp
broodlord - victor bonus battle trait - alien resilience - regain 1 lost wound in command phase
2 biomass 2 crushed resistance
genestealers and endless multitudes +1 xp
