---
layout: 40k-crusade-battle
name: First Contact
opponent: Waaagh! Rukbrakka Brug Gutskar Gorka
size: Combat Patrol (500)
scenario: Assassinate
units:
  - Worker Biomass Vanguard Left
  - Worker Biomass Vanguard Right
  - Aerial Biomass Vanguard Left
  - Primary Infiltration Node
  - Infiltration Seed Biomass
  - Aerial Infiltration Node
tags:
  - battle
