---
layout: 40k-crusade-battle
name: Establish Beachhead
opponent: Be'lakor's Favoured
size: Combat Patrol (500)
scenario: Sweep and Clear
outcome: Win
units:
  - Primary Warrior Node
  - Aerial Biomass Vanguard Left
  - Primary Spawning Node
  - Worker Biomass Hive Guard
tags:
  - battle
---
tyranid agenda: tyrannoform
chaos demons: worthy trophies
1 bio mass
1 crushed resistance
Gargoyles and Tervigon - marked for greatness
endless multitudes +1 xp
